<!doctype html>
<html lang="en">
  {% include "includes/head.html" %}
  <body>
    {% include "includes/navbar.html" %}
    <section>
      <div class="container">
        <h2>Hobbies & Interests</h2>
        <div class="content">
          <p>
            When I'm not coding or studying, I enjoy exploring various hobbies
            that help me stay creative and balanced.
          </p>
        </div>
        <div class="hobbies-list">
          {% for hobby in hobbies %}
          <div class="hobby-item">
            <div class="hobby-image">
              <img
                src="./static/img/{{ hobby.image }}"
                alt="{{ hobby.title }}"
              />
            </div>
            <div class="hobby-details">
              <h3>{{ hobby.title }}</h3>
              <p>{{ hobby.description }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </body>
</html>
