<!doctype html>
<html lang="en">
  {% include "includes/head.html" %}

  <body>
    {% include "includes/navbar.html" %}
    <div class="profile">
      <div id="profile-picture" class="profile-picture">
        <img src="./static/img/photo.webp" />
      </div>
      <h1>{{ title }}</h1>
    </div>

    <div class="hash-point" id="about"></div>
    <section>
      <div class="container">
        <h2>About Me</h2>
        <div class="content">
          <p>
            Hi! I'm a passionate software engineer, currently pursuing a degree
            in Computer Science. I'm currently exploring web graphics, grinding
            LeetCode, and hopping on the hype train of AI/ML and LLMs, but in my
            free time I enjoy 3D modeling and watching TV shows.
          </p>
        </div>
      </div>
    </section>

    <div class="hash-point" id="experience"></div>
    <section>
      <div class="container">
        <h2>Experience</h2>
        <div class="card-content">
          {% for exp in experience %}
          <div class="card">
            <h3>{{ exp.title }}</h3>
            <p class="card-details">
              <span> {{ exp.company }} ({{ exp.location }}) </span>
              <span class="location">{{ exp.date }}</span>
            </p>
            <ul>
              {% for desc in exp.description %}
              <li>{{ desc }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <div class="hash-point" id="education"></div>
    <section>
      <div class="container">
        <h2>Education</h2>
        <div class="card-content education-cards">
          {% for edu in education %}
          <div class="card">
            <h3>{{ edu.school }}</h3>
            <p class="card-details">
              <span>{{ edu.degree }} ({{ edu.location }})</span>
              <span>{{ edu.date }}</span>
            </p>
            <ul>
              {% for desc in edu.description %}
              <li>{{ desc }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <div class="hash-point" id="travels"></div>
    <section>
      <div class="container">
        <h2>Places I traveled to</h2>
        <div class="travel-content">
          <img src="./static/img/map.png" alt="Travel Map" class="travel-map" />
        </div>
      </div>
    </section>
  </body>
</html>
